/* Hero.css */
.hero {
  background-color: #111;
  width: 66vw;
  height: 30vh;
  color: white;
  text-align: center;
  padding: 50px 20px;
  /* border-radius: 5% */
  border-radius: 10px 50px;
}

.rental-info {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.rental-card {
  background-color: #ff4b4b;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
}

.scooty-container {
  margin: 0;
  background-image: url("/src/assets/images/hero-image.jpg");
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  display: flex;
  justify-content: center; /* Center child horizontally */
  align-items: center; /* Center child vertically */
}

.scooty-image {
  width: 400px; /* Adjust the size based on your design */
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.booking-form {
  border: 1px solid white;
  border-radius: 10px 50px;
  display: flex;
  flex-direction: column; /* Arrange elements in a column (rows) */
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ensures it takes up full width */
  max-width: fit-content;
}
.form-label {
  padding-right: 4%;
}
.form-group {
  margin: 10px 0; /* Adds vertical spacing between form groups */
  width: 100%; /* Full width for each form group */
}

.first-row {
  width: 50%; /* Center and limit the width of the first row */
  margin-top: 3%;
}

.second-row {
  display: flex; /* Use flexbox for two columns */
  justify-content: space-between;
  width: 70%; /* Set width for the two-column layout */
}

.second-row .form-group {
  width: 48%; /* Ensure both form-groups share the row equally */
}

.rent-now-btn {
  background-color: #ff4b4b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center; /* Center the button */
  margin-bottom: 2%;
}

/* Responsive design */
@media (max-width: 768px) {
  .rental-info {
    flex-direction: column;
  }

  .scooty-image {
    width: 100%; /* Full width on smaller screens */
    height: auto;
  }

  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
}
